@model GoldenShoe.ViewModels.CartTotalViewModel

@{ 
    var url = Url.Action("ApplyVoucher", "ShoppingCart");
}
<div class="sidebar rounded-top rounded-bottom">
    <div class="form-row">
        @Html.HiddenFor(x => x.Voucher.ID)
        @Html.LabelFor(x => x.Voucher.ID, "Enter a voucher code")
        @Html.TextBoxFor(x => x.Voucher.ID, new { @class = "form-control", @onchange = "enableApplyVoucherButton();", @id = "voucherCodeInput" })

        <button type="button" style="margin-top:5px;" class="btn btn-secondary" id="voucherButton" disabled onclick="addVoucher('@url', $(voucherCodeInput).val())">
            Apply voucher code
        </button>
    </div>

    <div style="clear:both;"></div>
    <hr />

    <div style="margin-top:20px" align="right">
        <h6 style="color:red;" id="voucherCodeDesc">@Html.DisplayFor(x => x.Voucher.Discount.Description)</h6>
        @if (Model.DiscountedTotal > 0)
        {
            <h3>Total: <strike>@Html.DisplayFor(x => x.Total)</strike> <span class="discount-style">@Html.DisplayFor(x => x.DiscountedTotal)</span></h3>
        }
        else
        {
            <h3>Total: @Html.DisplayFor(x => x.Total)</h3>
        }
        @if (Model.CanCheckout)
        {
            <button type="button" class="btn btn-success">Checkout</button>
        }
        else
        {
            <button type="button" class="btn btn-success" disabled>Checkout</button>
        }
    </div>
</div>