@model IList<GoldenShoe.ViewModels.ShoppingCartItemViewModel>

@{
    var imageFilepath = "/images/";
    var removeUrl = Url.Action("RemoveItem", "ShoppingCart");
}

<h3 style="padding: 20px"><i class="fa fa-shopping-cart" style="padding-right: 15px"></i>Your Shopping Cart</h3>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-1"></div>
        <div class="col-md-auto col-sm-6 col-xs-4" align="center">
            @{
                var source = imageFilepath + Model[i].PhotoFilePath;
            }
            <img src=@source class="img-thumbnail cart-product-image" />
        </div>
        <div class="col-md-auto col-sm-6 col-xs-8" style="padding-left: 50px;">
            <div class="row">
                @Html.HiddenFor(x => x[i].ProductID)
                @if (Model[i].Available)
                {
                    <h6>@Html.ActionLink(Model[i].ShoeName.ToString(), "DisplayProductPage", "Product", new { productId = Model[i].ProductID })</h6>
                }
                else
                { 
                    <h6>@Html.ActionLink(Model[i].ShoeName.ToString(), "DisplayProductPage", "Product", new { productId = Model[i].ProductID }) (Size no longer available) </h6>
                }
            </div>
            <div class="row">
                @Html.HiddenFor(x => x[i].SizeID)
                <h7><b>Size:</b> @Html.DisplayFor(x => x[i].Size) </h7>
            </div>
            <div class="row">
                <h7><b>Quantity:</b> @Html.DisplayFor(x => x[i].Quantity) </h7>
            </div>
            <div class="row">
                @if (Model[i].DiscountedPrice > 0)
                {
                    <h7><b>Price:</b> <strike>@Html.DisplayFor(x => x[i].Price)</strike> <span class="discount-style">@Html.DisplayFor(x => x[i].DiscountedPrice)</span></h7>
                }
                else
                {
                    <h7><b>Price:</b> @Html.DisplayFor(x => x[i].Price)</h7>
                }
            </div>
            <div class="row">
                @if (Model[i].DiscountedTotalPrice > 0)
                {
                    <h7><b>Subtotal:</b> <strike>@Html.DisplayFor(x => x[i].TotalPrice)</strike> <span class="discount-style">@Html.DisplayFor(x => x[i].DiscountedTotalPrice)</span></h7>
                }
                else
                {
                    <h7><b>Subtotal:</b> @Html.DisplayFor(x => x[i].TotalPrice) </h7>
                }
            </div>
            <div class="row">
                <button class="btn btn-danger" type="button"
                        onclick="event.stopPropagation(); if (confirm('Are you sure you want to remove this item from your cart?')) { removeShoppingCartItem('@removeUrl', '@Model[i].ProductID', '@Model[i].SizeID') }">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>

    <hr />
}

